---
import Layout from "../layouts/Layout.astro"
const fetchUrl = new URL("/cinee/api/movies.json", Astro.url.origin)
---

<Layout>
  <section class="bg-primary py-6 px-4">
    <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-2">

      <!-- Buscador -->
      <div class="bg-secondary p-2 rounded w-full md:order-2">
        <label for="search" class="block text-title font-bold text-xl">Buscar película</label>
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-2">
          <input
            id="search"
            type="text"
            placeholder="Escribe un título..."
            class="lg:col-span-2 px-4 py-2 my-2 rounded bg-secondary text-title border border-subtitle focus:outline-none focus:ring-2 focus:ring-btn"
          />
          <button
            type="button"
            id="searchBtn"
            data-fetch-url={fetchUrl}
            class="px-4 py-2 bg-btn text-white font-semibold rounded hover:opacity-90 transition"
          >
            Buscar
          </button>
        </div>
      </div>

      <!-- Content -->
      <div class="w-full md:order-1 md:col-span-2">

        <!-- Instrucciones -->
        <div id="instructions" class="space-y-4 text-subtitle md:col-span-2 break-words">
          <h2 class="text-title text-xl font-semibold">¿Cómo buscar películas eficientemente?</h2>
          <ul class="ml-4 list-disc list-inside space-y-2 text-sm">
            <li>No necesitas escribir el título completo.</li>
            <li>Una sola palabra puede ser suficiente.</li>
            <li>No es obligatorio escribir toda la palabra: un fragmento basta.</li>
            <li>Los títulos deben escribirse en <strong class="text-title">inglés</strong>.</li>
          </ul>
        </div>  
         
        <!--Aquí se mostrará el grid de resultados cuando el usuario busque -->
        <div id="result-area" class="movie__grid" hidden></div>

      </div>
    </div>
  </section>

</Layout>

<style>
  .movie__grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(
      auto-fill,
      minmax(160px, 1fr)
    );
    gap: 16px;
  }
</style>

<script is:inline>
  const input = document.getElementById('search')
  const searchBtn = document.getElementById('searchBtn')
  const fetchUrl = searchBtn.getAttribute("data-fetch-url")
  const instructionsContainer = document.getElementById("instructions")
  const resultsContainer = document.getElementById('result-area');
  let movies = [];

  fetch(fetchUrl)
    .then(res => res.json())
    .then(data => {
      movies = data;
    });

  searchBtn.addEventListener('click', () => {
    const query = input.value.toLowerCase();
    const filteredMovies = movies.filter(movie =>
      movie.title.toLowerCase().includes(query)
    );

    instructionsContainer.setAttribute("hidden", true)
    resultsContainer.removeAttribute("hidden")
    if (filteredMovies.length === 0) {
      resultsContainer.innerHTML = `
        <div class="flex justify-center items-center w-full p-8">
          <p class="bg-title text-xl text-center">No se ha encontrado ninguna película coincidente con su búsqueda.</p>
        </div>`
      return
    }

    resultsContainer.innerHTML = ""
    resultsContainer.innerHTML += filteredMovies.map(movie => `

      <article
        class="bg-secondary rounded-md p-4 w-full flex flex-col"
        aria-label=Película: ${movie.title}
      >
        <img
          src=${movie.img}
          loading="lazy"
          decoding="async"
          alt=Descargar ${movie.title} en español latino (${movie.year})}
          class="w-full h-48 object-cover rounded-md mb-3"
        />
      
        <h3 class="text-title text-lg font-semibold">
          ${movie.title}
        </h3>
      
        <p class="text-subtitle text-sm mb-1">Año: ${movie.year}</p>
        <p class="text-subtitle text-sm mb-1">Idioma: ${movie.language}</p>
        <p class="text-subtitle text-xs italic mb-1">
          Género: ${movie.genre.join(", ")}
        </p>
        <p class="text-subtitle text-sm mb-2 line-clamp-3">
          ${movie.description}
        </p>
      
        <a
          href=/cinee/movie/${movie.slug.split("-").slice(1).join("-")}
          class="bg-btn text-white text-center px-4 py-2 rounded hover:opacity-90 transition font-extrabold mt-auto"
          aria-label=Ver más detalles y descargar ${movie.title}
        >
          Descargar
        </a>
      </article>
    `).join('');
  });
</script>

