---
import "../styles/global.css"
import Navbar from "../components/Navbar.astro"
import Banner from "../components/ads/Banner.astro"
import Footer from "../components/Footer.astro"
const domain = "https://antoinepdev.github.io/cinee"
const {
  title,
  desc,
  ogImg=`${domain}/portada.jpg`,
  ogUrl,
  ogType="website",
  keywords="descargar películas gratis, películas en español latino, películas en castellano, cine latino, películas completas, películas HD, estrenos gratis, películas Telegram, cine online gratis"
  } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
    <meta name="google-site-verification" content="mWED_Q48jD9zrJjGzaAQ7VQQDfMqWI0bppGdlhEobNo" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/cinee/favicon.png" />
    <link rel="sitemap" href="cinee/sitemap-index.xml" />
    <link rel="canonical" href={domain} />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc}/>
    <meta name="keywords" content={keywords}>
    <title>{title}</title>

    <meta property="og:type" content={ogType} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:image" content=`${ogImg}` />
    <meta property="og:url" content=`${domain}${ogUrl}` />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={desc} />
    <meta name="twitter:image" content={ogImg} />

	</head>
	<body class="bg-primary text-white">

    <header>
      <Navbar />
      <Banner />
    </header>

		<slot />

    <Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

</style>
